/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* body,
div,
article,
aside,
footer,
header,
main,
nav,
section,
ul,
ol,
li,
button,
figure,
picture,
hr {
  display: flex;
} */

body {
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Roboto", sans-serif;
}

